.pendu {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin: auto;
  user-select: none;
  flex-direction:row;
}

.pendu-logo {
  height: 50px;
  margin: 10px;
}

.pendu-header {
  background-color: #d1d1e0;
  display: flex;
  width: 550px;
  color: black;
}

.pendu-title {
  font-size: 5 em;
  margin: 15px;
  width: 100%;
  text-align: center;
}
