.Button {
  font-size: 2em;
  flex: 1 1 calc(100% / 14 - 0.4em);
  margin: 0.2em;
  display: flex;
}

.Button > .symbol {
  margin: auto;
}

.Button.hidden {
  background: silver;
  outline: 0.08em solid silver;
  cursor: none;
}

.Button.visible {
  background: white;
  outline: 0.08em solid black;
  cursor: default;
}
